{% extends 'components/base.html' %}

{% block content %}
<br>
<div class="container">
  <div class="container text-center">
    <h3>Modificar Empresa: {{ razao_social }}</h3>
  </div>
  <form method="post" id="pendencia-form">
    {% csrf_token %}

    <div class="container" style="width: 700px;">
      <div class="form-group">
        <label>Razão Social:</label>
        <input type="text" class="form-control" name="razao_social" value="{{ razao_social }}"/>
      </div>
  
      <div class="form-group">
        <label>Atividade Principal:</label>
        <input type="text" class="form-control" name="atividade_principal" value="{{ atividade_principal }}"/>
      </div>

      <div class="form-group">
        <label>Numero de Endereço:</label>
    <input type="text" class="form-control" name="numero_endereco" value="{{ numero_endereco }}"/>
      </div>
  
      <div class="form-group">
        <label>Cep:</label>
        <input type="text" class="form-control" name="cep" value="{{ cep }}"/>
      </div>
  
      <div class="form-group">
        <label>Municipio:</label>
        <input type="text" class="form-control" name="municipio" value="{{ municipio }}"/>
      </div>
  
      <div class="form-group">
        <label>Estado:</label>
        <input type="text" class="form-control" name="estado" value="{{ estado }}"/>
      </div>
    </div>

    <br />

    <div class="container" style="width: 700px;">
      <button type="submit" class="btn btn-primary ">Salvar empresa</button>
      <a href="{% url 'modificar_empresa' %}" class="btn btn-danger">Cancelar</a>
    </div>
  </form>
</div>
  
{% endblock content %}