{% extends 'components/base.html' %}

{% block content %}
<a href="{% url 'home_page' %}" class="btn btn-primary">Voltar</a>
<div class="container">
  <form class="form-inline" action="" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite sua pesquisa" name="pesquisa">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Pesquisar</button>
        </div>
    </div>
  </form>
  <div class="row">
    {% for empresa in empresas %}
    <div class="col-md-4 card-group mt-4">
      <div class="list-group-item card">
        <div class="d-flex justify-content-between">
          <h5>{{ empresa.razao_social }}</h5>
          <small class="text-muted">{{ empresa.id }}</small>
        </div>
        <p>Atividade Principal: {{ empresa.atividade_principal }}</p>
        <div class="alert alert-success">
          <h4>Endereço:</h4>
          <div class="container">
            <p>Numero de Endereço: {{ empresa.numero_endereco }}</p>
            <p>CEP: {{ empresa.cep }}</p>
            <p>Município: {{ empresa.municipio }}</p>
            <p>Estado: {{ empresa.estado }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
